
/bootstrap/compiled.php
/public/assets/cdn
/public/assets/images
/public/assets/uploads
/public/assets/vendor
/public/packages/*
/app/storage/*
.DS_Store
vendor/
server/
.idea/
drop_tables.php
.elasticbeanstalk/